.container {
  display: flex;
  flex: 1;

  @media (min-width: 768px) {
    flex: 0 0 33%;
  }

  .svg {
    margin: 10px;
    position: absolute;
  }

  .text {
    z-index: 0;
    align-items: center;
    color: #fcb749;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    height: 41px;
    justify-content: center;
    margin: 10px;
    width: 41px;

    &.isActive {
      color: white;
    }
  }
}
