.container {
  align-items: center;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0 0 20px 0;

  .border {
    margin: 0 0 0 24px;
    padding: 10px;
    border: 1px solid #d8d8d8;
  }
}
