.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 860px;
  padding: 20px;

  @media (min-width: 768px) {
    padding: 40px 0;
    width: 100%;
  }
}
