.container {
  display: inline-block;

  .circle {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    color: #243f85;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    height: 41px;
    justify-content: center;
    margin: 10px;
    width: 41px;

    &.isActive {
      background-color: #243f85;
      color: white;
    }
  }
}
